In [ ]:
import pandas as pd
import os

import numpy as np

In [ ]:
file1="Winter.csv"
file2="NewComboJunJulAug.csv"
a=[file1, file2]

In [ ]:
#frames=[]

dataWinter=pd.DataFrame(pd.read_csv('Winter.csv'))
dataSummer=pd.DataFrame(pd.read_csv('NewComboJunJulAug.csv'))

In [5]:
dataWinter.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,1/1/2017 0:21,1/1/2017 0:24,3276,Marin Light Rail,40.71458404,-74.04281706,3185,City Hall,40.7177325,-74.043845,24575,Subscriber,1983,1
1,1283,1/1/2017 0:24,1/1/2017 0:45,3183,Exchange Place,40.7162469,-74.0334588,3198,Heights Elevator,40.74871595,-74.0404433,24723,Subscriber,1978,1
2,372,1/1/2017 0:38,1/1/2017 0:44,3183,Exchange Place,40.7162469,-74.0334588,3211,Newark Ave,40.72152515,-74.04630454,24620,Subscriber,1989,1
3,1513,1/1/2017 0:38,1/1/2017 1:03,3194,McGinley Square,40.72533993,-74.06762213,3271,Danforth Light Rail,40.69263997,-74.08801228,24668,Subscriber,1961,1
4,639,1/1/2017 1:47,1/1/2017 1:58,3183,Exchange Place,40.7162469,-74.0334588,3203,Hamilton Park,40.72759597,-74.04424731,26167,Subscriber,1993,1

In [6]:
dataWinter.tail()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
39150,239,3/31/2017 21:26,3/31/2017 21:30,3195,Sip Ave,40.73074263,-74.06378388,3201,Dey St,40.737711,-74.066921,29276,Subscriber,1970,1
39151,192,3/31/2017 21:46,3/31/2017 21:50,3183,Exchange Place,40.7162469,-74.0334588,3267,Morris Canal,40.71241882,-74.03852552,26177,Subscriber,1976,1
39152,186,3/31/2017 22:03,3/31/2017 22:07,3183,Exchange Place,40.7162469,-74.0334588,3214,Essex Light Rail,40.7127742,-74.0364857,26240,Subscriber,1956,1
39153,618,3/31/2017 23:20,3/31/2017 23:30,3272,Jersey & 3rd,40.72333159,-74.04595256,3268,Lafayette Park,40.71346383,-74.06285852,24398,Subscriber,1984,1
39154,649,3/31/2017 23:25,3/31/2017 23:36,3185,City Hall,40.7177325,-74.043845,3190,Garfield Ave Station,40.71046702,-74.0700388,26200,Subscriber,1988,1

In [7]:
dataSummer.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,499,6/1/2017 0:01,6/1/2017 0:09,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,29590,Subscriber,1979.0,1
1,507,6/1/2017 0:06,6/1/2017 0:15,3211,Newark Ave,40.721525,-74.046305,3277,Communipaw & Berry Lane,40.714358,-74.066611,29453,Subscriber,1969.0,1
2,768,6/1/2017 0:44,6/1/2017 0:57,3195,Sip Ave,40.730743,-74.063784,3189,West Side Light Rail,40.714402,-74.088772,26193,Subscriber,1962.0,1
3,101,6/1/2017 1:12,6/1/2017 1:14,3185,City Hall,40.717733,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,29284,Subscriber,1983.0,1
4,265,6/1/2017 1:14,6/1/2017 1:18,3273,Manila & 1st,40.721651,-74.042884,3278,Monmouth and 6th,40.725685,-74.048790,29645,Subscriber,1980.0,2

In [8]:
dataSummer.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
101100,416,8/31/2017 23:40,8/31/2017 23:47,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29589,Subscriber,1979.0,1
101101,165,8/31/2017 23:42,8/31/2017 23:45,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,29569,Subscriber,1985.0,1
101102,326,8/31/2017 23:42,8/31/2017 23:48,3199,Newport Pkwy,40.728745,-74.032108,3187,Warren St,40.721124,-74.038051,26163,Subscriber,1980.0,1
101103,345,8/31/2017 23:42,8/31/2017 23:48,3209,Brunswick St,40.724176,-74.050656,3272,Jersey & 3rd,40.723332,-74.045953,26297,Subscriber,1985.0,1
101104,332,8/31/2017 23:42,8/31/2017 23:48,3209,Brunswick St,40.724176,-74.050656,3272,Jersey & 3rd,40.723332,-74.045953,29232,Subscriber,1988.0,2

In [ ]:
#frames=[dataSummer, dataWinter]
#result = pd.concat([dataSummer, dataWinter], ignore_index=True)
#result = df1.append(df2), sort=True
#result = dataWinter.append(dataSummer), ignore_index=True

In [ ]:
frames=[file1, file2]
for y in range(0, (len(a))):
    print("processing file:  " + str(y+1))
    dataline=pd.DataFrame(pd.read_csv(a[y]))
    frames.append("data_"+str(y))
    frames[y]=dataline

In [12]:
result=dataWinter.append(dataSummer, sort=True)
result.to_csv('citibikeLAST.csv', sep=',')